/* Authentication styles */
#authentication {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #000;
}

#authentication h1 {
    color: #fff;
    font-size: 24px;
    margin-bottom: 1rem;
}

#yesButton, #noButton {
    padding: 0.75rem 1.5rem;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background-color: #22c55e;
    color: #fff;
    cursor: pointer;
    margin-bottom: 0.5rem;
    transition: background-color 0.3s ease;
}

#yesButton:hover, #noButton:hover {
    background-color: #1e9e48;
}

#yesButton:focus, #noButton:focus {
    outline: none;
    box-shadow: 0 0 0 3px #22c55e;
}

/* Background styles */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000;
  background-image: linear-gradient(135deg, #aeecc0, #f1aab5);
  overflow: hidden;
}

/* Chatbox styles */
.chatbox {
  max-width: 600px;
  width: 100%;
  margin: 2rem auto;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #22c55e;
  color: #fff;
  border-radius: 10px 10px 0 0;
}

.chatbot-name {
  font-weight: bold;
  font-size: 20px;
  margin: 0 auto;
}

.online-status {
  display: inline-block;
  font-size: 14px;
  padding: 0.25rem 0.5rem;
  border-radius: 50px;
  background-color: #ffffff;
  color: #22c55e;
  border: 2px solid #22c55e;
}

.online-status::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #22c55e;
  margin-right: 5px;
}

.chatlog-container {
  height: 450px;
  overflow-y: auto;
  padding: 1rem;
}

.user-input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: #f9f9f9;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.user-input-container input[type="text"] {
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  margin: 0 1rem;
  flex-grow: 1;
}

.user-input-container button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  cursor: pointer;
}

.user-input-container #sendButton {
  background-color: #22c55e;
  color: #fff;
}

.user-input-container #clearButton {
  background-color: #dc3545;
  color: #fff;
}

.user-input-container button:active {
  transform: scale(0.95);
}

#promptsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 10px;
  align-content: flex-start;
  justify-content: center;
  height: 100%;
}

.message-text {
  cursor: pointer;
  text-align: center;
  display: inline-block;
  padding: 5px 10px; 
  background-color: #f1f1f1;
  border-radius: 10px; 
  margin-bottom: 10px;
  color: #333;
  font-size: 14px; 
  font-weight: bold;
  transition: background-color 0.3s ease;
}

/* User and bot message styles */
.user-message {
  color: #333;
  text-align: right;
  margin-bottom: 0.5rem;
  padding-right: 1rem;
  border-right: 3px solid #22c55e;
  background-color: #22c55e10;
  position: relative;
  padding: 0.75rem;
  border-radius: 5px;
  margin-right: 10px;
}

.bot-message {
  color: #333;
  text-align: left;
  margin-bottom: 0.5rem;
  padding-left: 1rem;
  border-left: 3px solid #dc3545;
  background-color: #dc354510;
  position: relative;
  padding: 0.75rem;
  border-radius: 5px;
  margin-left: 10px;
}

.user-message::after {
  content: "🤔";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 100%;
  margin-left: 0.3rem;
  font-size: 24px;
}

.bot-message::before {
  content: "🤖";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 100%;
  margin-right: 0.3rem;
  font-size: 24px;
}

/* About Section */
#aboutSection {
  margin: 2rem;
  background-color: #f2f9fd;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#aboutSection h2 {
  font-size: 24px;
  margin-bottom: 0.5rem;
  color: #333333;
}

#aboutSection p {
  font-size: 16px;
  margin-bottom: 1rem;
  color: #444444;
}

/* FAQ Section */
#faqSection {
  margin: 2rem;
  background-color: #f2f9fd;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#faqSection h2 {
  font-size: 24px;
  margin-bottom: 0.5rem;
  color: #333333;
}

#faqSection ul {
  list-style: none;
  padding: 0;
}

#faqSection li {
  margin-bottom: 1rem;
}

#faqSection h3 {
  font-size: 18px;
  margin-bottom: 0.25rem;
  color: #444444;
}
