<!DOCTYPE html>
<html>
<head>
    <title>Quantron - Personal Assistant 🤖</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>
    <div id="authentication">
        <h1>🔑🔒🤖</h1>
        <button id="yesButton">Unlocking Quantron's potential</button>
        <button id="noButton">Coding Quantron's algorithms</button>
    </div>
    <div class="container" id="chatbotContainer" style="display: none;">
        <div class="chatbox">
            <div class="top-bar">
                <div class="chatbot-name">
                    Quantron
                </div>
                <div class="online-status">
                    Online
                </div>
            </div>
            <div class="chatlog-container">
                <div id="chatlog"></div>
                <div id="promptsContainer" class="chat-message"></div>
            </div>
            <div class="user-input-container">
                <button id="clearButton" class="clearButton">Reset</button>
                <input type="text" id="userInput" placeholder="Type your message...">
                <button type="submit" id="sendButton">Send</button>
            </div>
        </div>
    </div>

    <div id="userResponseContainer"></div>

    <section id="aboutSection">
        <h2>🎩 About</h2>
        <p>Introducing Quantron, your very own personal assistant. Developed as a website application and a personal coding project, Quantron is designed to enhance your productivity and assist you with a wide range of tasks.</p>
    </section>

    <section id="faqSection">
        <h2>❓Frequently Asked Questions</h2>
        <ul>
            <li>
                <h3>How can I get started with Quantron?</h3>
                <p>To get started, simply type your message in the input field and press the "Send" button. Quantron will respond to your queries and assist you.</p>
            </li>
            <li>
                <h3>What services does Quantron provide?</h3>
                <p>Quantron offers a versatile array of services to cater to your needs and interests. It can engage in conversation, provide random quotes, jokes, translations, predict gender and nationality, suggest random activities, perform calculations, and generate responses using predefined patterns.</p>
            </li>
            <li>
                <h3>Can you provide more information about the system behind Quantron's interactive chat feature?</h3>
                <p>Quantron utilises text-based communication to engage with users. By using specific keywords and phrases, you can communicate with Quantron and receive pre-scripted responses tailored to the recognised input. Please note that the responses are limited to the predetermined set of keywords and phrases.</p>
            </li>
            <li>
                <h3>What are the keywords to access Quantron's features?</h3>
				<p>- Generate random quotes: "quote" <br>
				- Enjoy random jokes: "joke" <br>
				- Perform translations: "translate &lt;text&gt; to &lt;language&gt;" <br>
				- Predict gender: "gender &lt;name&gt;" <br>
				- Predict nationality: "nationality &lt;name&gt;" <br>
				- Suggest random activities: "activity" <br>
				- Perform calculations: "calculate &lt;mathematical expression&gt;"</p>
            </li>
        </ul>
    </section>

    <script src="/static/script.js"></script>
</body>
</html>
