<!DOCTYPE html>
<html>
<head>
    <title>Quantron - Personal Assistant 🤖</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <div class="chatbox">
            <div class="top-bar">
                <div class="chatbot-name">
                    Quantron
                </div>
                <div class="online-status">
                    Online
                </div>
            </div>
            <div class="chatlog-container">
                <div id="chatlog"></div>
            </div>
            <div class="user-input-container">
                <button id="clearButton" class="clearButton">Reset</button>
                <input type="text" id="userInput" placeholder="Type your message...">
                <button type="submit" id="sendButton">Send</button>

            </div>
        </div>
    </div>

    <div id="userResponseContainer"></div>

    <script src="/static/script.js"></script>
</body>
</html>
